# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/
/.idea/
/botkube
/dist

# Tags
tags

# Temp files
*.bak

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# App-specific files
/analytics.yaml
/resource_config.yaml
/comm_config.yaml
/local_config.yaml

/bin

./botkube
./botkube-agent
./botkube-test
./main

# Release
dist/
plugin-dist/
cli-dist/
plugins-dev-index.yaml
plugins-index.yaml
CHANGELOG.md
