## Resources you want to watch
resources:
  - name: pods                # Name of the resources e.g pods, deployments, ingresses, etc. (Resource name must be in plural form)
    namespaces:               # List of namespaces, "all" will watch all the namespaces
      - all
    events:                   # List of lifecycle events you want to receive, e.g create, update, delete, error OR all
      - create
      - delete
      - error
  - name: services
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: deployments
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: ingresses
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: nodes
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: namespaces
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: persistentvolumes
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: persistentvolumeclaim
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: secrets
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: configmaps
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: daemonsets
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: jobs
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: roles
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: rolebindings
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: clusterroles
    namespaces:
      - all
    events:
      - create
      - delete
      - error
  - name: clusterrolebindings
    namespace:
      - all
    events:
      - create
      - delete
      - error
  - name: nodes
    namespaces:
      - all
    events:
      - create
      - delete
      - error

# Check true if you want to receive recommendations
# about the best practices for the created resource
recommendations: true

# Channels configuration
communications:
  # Settings for Slack
  slack:
    enabled: false
    channel: 'SLACK_CHANNEL'
    token: 'SLACK_API_TOKEN'

  # Settings for Mattermost
  mattermost:
    enabled: false
    url: 'MATTERMOST_SERVER_URL'                # URL where Mattermost is running. e.g https://example.com:9243
    token: 'MATTERMOST_TOKEN'			# Personal Access token generated by BotKube user
    team: 'MATTERMOST_TEAM'			# Mattermost Team to configure with BotKube 
    channel: 'MATTERMOST_CHANNEL'		# Mattermost Channel for receiving BotKube alerts 

  # Settings for ELS
  elasticsearch:
    enabled: false
    server: 'ELASTICSEARCH_ADDRESS'              # e.g https://example.com:9243
    username: 'ELASTICSEARCH_USERNAME'
    password: 'ELASTICSEARCH_PASSWORD'
    # ELS index settings
    index:
      name: botkube
      type: botkube-event
      shards: 1
      replicas: 0

# Setting to support multiple clusters
settings:
  # Cluster name to differentiate incoming messages
  clustername: not-configured
  # Set false to disable kubectl commands execution
  allowkubectl: false
