## Resources you want to watch
resources:
  - name: pod                # Name of the resources e.g pod, deployment, ingress, etc.
    namespaces:               # List of namespaces, "all" will watch all the namespaces
      include:  
        - all
      ignore:                 # List of namespaces to be ignored (omitempty), used only with include: all
        -                     # example : include [all], ignore [x,y,z] 
    events:                   # List of lifecycle events you want to receive, e.g create, update, delete, error OR all
      - create
      - delete
      - error
  - name: service
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: deployment
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - update
      - delete
      - error
    updateSetting:
      includeDiff: true
      fields:
        - spec.template.spec.containers[*].image
        - status.availableReplicas
  - name: statefulset
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - update
      - delete
      - error
    updateSetting:
      includeDiff: true
      fields:
        - spec.template.spec.containers[*].image
        - status.readyReplicas
  - name: ingress
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: node
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: namespace
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: persistentvolume
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: persistentvolumeclaim
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: secret
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: configmap
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: daemonset
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - update
      - delete
      - error
    updateSetting:
      includeDiff: true
      fields:
        - spec.template.spec.containers[*].image
        - status.numberReady
  - name: job
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - update
      - delete
      - error
    updateSetting:
      includeDiff: true
      fields:
        - spec.template.spec.containers[*].image
        - status.conditions[*].type
  - name: role
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: rolebinding
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: clusterrole
    namespaces:
      include:
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error
  - name: clusterrolebinding
    namespaces:
      include:  
        - all
      ignore:
        -
    events:
      - create
      - delete
      - error

# Check true if you want to receive recommendations
# about the best practices for the created resource
recommendations: true

# Setting to support multiple clusters
settings:
  # Cluster name to differentiate incoming messages
  clustername: not-configured
  # Kubectl executor configs
  kubectl:
    # Set true to enable kubectl commands execution
    enabled: false
    # List of allowed commands
    commands:
      # method which are allowed
      verbs: ["api-resources","api-versions","cluster-info","describe","diff","explain","get","logs","top","auth"]
      # resource configuration which is allowed
      resources: ["deployments", "pods" , "namespaces", "daemonsets", "statefulsets", "storageclasses", "serviceaccounts"]
    # set Namespace to execute botkube kubectl commands by default
    defaultNamespace: default
    # Set true to enable commands execution from configured channel only
    restrictAccess: false
  # Set true to enable config watcher
  configwatcher: true
  # Set false to disable upgrade notification
  upgradeNotifier: true
