analytics:
  disable: true

communications:
  'default-group':
    slack:
      enabled: false # Tests will override this temporarily
      token: "" # Provide a valid token for BotKube app
      channels:
        'default':
          name: "" # Tests will override this temporarily
          bindings:
            executors:
              - kubectl-read-only
              - kubectl-wait-cmd
              - kubectl-exec-cmd
              - kubectl-allow-all
            sources:
              - k8s-events
        'secondary':
          name: "" # Tests will override this temporarily
          bindings:
            executors:
              - kubectl-read-only
            sources:
              - k8s-updates
    discord:
      enabled: false # Tests will override this temporarily
      token: "" # Provide a valid token for BotKube app
      botID: "" # Provide a valid Application Client ID for BotKube app
      channels:
        'default':
          id: "" # Tests will override this channel ID temporarily
          bindings:
            executors:
              - kubectl-read-only
              - kubectl-wait-cmd
              - kubectl-exec-cmd
              - kubectl-allow-all
            sources:
              - k8s-events
        'secondary':
          id: "" # Tests will override this channel ID temporarily
          bindings:
            # -- Executors configuration for a given channel.
            executors:
              - kubectl-read-only
            # -- Notification sources configuration for a given channel.
            sources:
              - k8s-updates

sources:
  'k8s-events':
    kubernetes:
      namespaces:
        include:
          - botkube
      recommendations:
        pod:
          noLatestImageTag: true
          labelsSet: true
        ingress:
          backendServiceValid: false
          tlsSecretValid: false
      resources:
        - name: v1/configmaps
          events:
            - create
            - update
            - delete
  'k8s-updates':
    kubernetes:
      namespaces:
        include:
          - default
      resources:
        - name: v1/configmaps
          namespaces:
            include:
              - botkube
          events:
            - update
executors:
  'kubectl-read-only':
    kubectl:
      enabled: true
      namespaces:
        include:
          - botkube
          - default
  'kubectl-wait-cmd':
    kubectl:
      enabled: true
      namespaces:
        include:
          - botkube
          - default
      commands:
        verbs: [ "wait" ]
      restrictAccess: false
  'kubectl-exec-cmd':
    kubectl:
      enabled: false
      namespaces:
        include:
          - botkube
          - default
      commands:
        verbs: [ "exec" ]
      restrictAccess: false
  'kubectl-allow-all':
    kubectl:
      enabled: true
      namespaces:
        include:
          - ".*"
      commands:
        verbs: [ "get" ]
        resources: [ "deployments" ]
  'kubectl-not-bound-to-any-channel':
    kubectl:
      enabled: true
      namespaces:
        include:
          - ".*"
      commands:
        verbs: [ "port-forward" ]
        resources: [ "deployments" ]

settings:
  clusterName: sample
  upgradeNotifier: false
  log:
    level: debug
    disableColors: false

extraAnnotations:
  botkube.io/disable: "true"

e2eTest:
  slack:
    testerAppToken: "" # Provide a valid token for BotKube tester app
    additionalContextMessage: "" # Optional additional context
  discord:
    guildID: "" # Provide the Guild ID (discord server ID) used to run e2e tests
    testerAppToken: "" # Provide a valid token for BotKube tester app
    additionalContextMessage: "" # Optional additional context
