{{- if .Values.rbac.create }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "botkube.fullname" . }}-clusterrole
  labels:
    app.kubernetes.io/name: {{ include "botkube.name" . }}
    helm.sh/chart: {{ include "botkube.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
rules:
{{- with .Values.rbac.rules }}
{{- toYaml . | nindent 2 }}
{{- end }}
{{- if .Values.podSecurityPolicy.enabled }}
  - apiGroups: ["extensions"]
    resourceNames: ["botkube-psp"]
    resources: ["podsecuritypolicies"]
    verbs: ["use"]
{{ end }}
{{ end }}
