apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "botkube.fullname" . }}-global-config
  labels:
    app.kubernetes.io/name: {{ include "botkube.name" . }}
    helm.sh/chart: {{ include "botkube.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  global_config.yaml: |
    executors:
      {{- .Values.executors | toYaml | nindent 6 }}

    settings:
      {{- .Values.settings | toYaml | nindent 6 }}

    sources:
      {{- .Values.sources | toYaml | nindent 6 }}

    filters:
      {{- .Values.filters | toYaml | nindent 6 }}
